<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="s130">
      <form action="#" method="post">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input id="search" type="text" placeholder="What are you looking for?" name="userquery"/>
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit">SEARCH</button>
          </div>
        </div>
        <div class="m-2">
          <select class="form-select form-select-sm" aria-label="Small select example" name="operator">
            <option selected value="or">Operator (DEFAULT: OR)</option>
            <option value="or">OR</option>
            <option value="and">AND</option>
          </select>
        </div>
        <div class="m-2">
          <select class="form-select form-select-sm" aria-label="Small select example" name="wheretosearch">
            <option selected value="content">Search IN (DEFAULT: Content)</option>
            <option value="content">Content</option>
            <option value="heading">Heading</option>
            <option value="author">Author</option>
          </select>
        </div>
        <div class="m-2">
          <select class="form-select form-select-sm" aria-label="Small select example" name="resultsize">
            <option selected value="10">MAX RESULTS (DEFAULT: 10)</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div>
        <!-- <span class="info">ex. Game, Music, Video, Photography</span> -->
      </form>
    </div>
    <script src="{{url_for('static', filename='js/extention/choices.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
